<!doctype html>
<html lang="en">
  <head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

</head>
<body>


<div class="container">
    <br>
    <hr>
    <div class="row">
        <aside class="col-sm-4"></aside>
        <aside id="DangNhap" class="col-sm-4"  >
            <div class="card">
                <article class="card-body" >
                    <a id="btn1"  class="float-right btn btn-outline-primary">Sign up</a>
                    <h4 class="card-title mb-4 mt-1">Login</h4>
                    <hr>
                    <%if(mess!=""){%>
                        <p id="cmt" class="text-success text-center"><%=mess%></p>
                   <% }%>
                    <form action="/login" method="POST">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                </div>
                                <input name="username" class="form-control" placeholder="User name" type="text">
                            </div> <!-- input-group.// -->
                        </div> <!-- form-group// -->
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                </div>
                                <input name="password" class="form-control" placeholder="******" type="password">
                            </div> <!-- input-group.// -->
                        </div> <!-- form-group// -->
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block"> Login </button>
                        </div> <!-- form-group// -->
                        <p class="text-center"><a href="#" class="btn">Forgot password?</a></p>
                    </form>
                </article>
            </div> <!-- card.// -->

        </aside> 
        <aside id="DangKi" class="col-sm-4" style="display: none">
            <div class="card">
                <article class="card-body">
                     <a id="btn2"  class="float-right btn btn-outline-primary">Login</a>
                    <h4 class="card-title mb-4 mt-1">Sign up</h4>
                    <hr>
                  
                   
                    <form action="/addUser" method="POST">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                </div>
                                <input name="SignName" class="form-control" placeholder="User name" type="text">
                            </div> <!-- input-group.// -->
                        </div> <!-- form-group// -->
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                </div>
                                <input name="SignPassword" class="form-control" placeholder="password" type="password">
                            </div> <!-- input-group.// -->
                        </div> <!-- form-group// -->
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                </div>
                                <input name="SignConfirm" class="form-control" placeholder="confirm" type="password">
                            </div> <!-- input-group.// -->
                        </div> <!-- form-group// -->
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block"> sign up </button>
                        </div> <!-- form-group// -->
                    </form>
                </article>
            </div> <!-- card.// -->
        </aside> 
    </div> 
</div>
<script language="javascript">
 
    document.getElementById("btn1").onclick = function () {
        document.getElementById("DangNhap").style.display = 'none';
        document.getElementById("DangKi").style.display = 'block';
    };
    document.getElementById("btn2").onclick = function () {
        document.getElementById("DangNhap").style.display = 'block';
        document.getElementById("DangKi").style.display = 'none';
    };

</script>
</body>
</html>